<template>
  <div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">First and last name</span>
      </div>
      <input type="text" aria-label="First name" class="form-control" :value="value" @input="fullName" required>
      <input type="text" aria-label="Last name" class="form-control" :value="value" @input="fullName" required>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      firstName: this.value.split(" ")[0],
      lastName: this.value.split(" ")[1]
    };
  },
  props: {
    value: String
  },
  methods: {
    fullName() {
      this.$emit("input", `${this.firstName} ${this.lastName}`);
    }
  }
};
</script>

<style>
</style>
