<template>
  <div class="container">
      <form @submit.prevent="submit" v-if="!isSubmited">
          <div class="row">
              <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                  <!-- Exercise 1 -->
                  <!-- Create a Signup Form where you retrieve the following Information -->
                  <!-- Full Name (First Name + Last Name) -->
                  <!-- Mail -->
                  <!-- Password -->
                  <!-- Store Data? Yes/No -->
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">First and last name</span>
                      </div>
                      <input type="text" name="firstName" id="firstName" class="form-control" v-model="userData.firstName" required>
                      <input type="text" name="lastName" id="lastName" class="form-control" v-model="userData.lastName" required>
                    </div>
                  </div>
                  <div v-if="false" class="form-group">
                    <!-- WAS TRYING EXERCISE 3 -->
                    <full-name v-model="fullName">{{ userData.fullName }}</full-name>
                    <!-- //-->
                  </div>
                  <div class="form-group">
                    <label for="email">Email</label>
                    <input class="form-control" type="email" name="email" id="email" required v-model="userData.email" placeholder="john.doe@exemple.com">
                  </div>
                  <div class="form-group">
                    <label for="pasword">Password</label>
                    <input class="form-control" type="password" name="pasword" id="pasword" required v-model="userData.password" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="storeInDB" id="storeInDB-true" value="true" v-model="userData.storeInDB">
                      <label class="form-check-label" for="storeInDB-true">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="storeInDB" id="storeInDB-false" value="false" v-model="userData.storeInDB">
                      <label class="form-check-label" for="storeInDB-false">No</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>

                  <!-- Exercise 2 -->
                  <!-- Only display the Form if it has NOT been submitted -->
                  <!-- Display the Data Summary ONCE the Form HAS been submitted -->

                  <!-- Exercise 3 -->
                  <!-- Edit the Example from above and create a custom "Full Name" Control -->
                  <!-- which still holds the First Name and Last Name Input Field -->
              </div>
          </div>
      </form>
      <hr>
      <div class="row" v-if="isSubmited">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <h4>Your Data</h4>
                  </div>
                  <div class="panel-body">
                      <p>Full Name: {{ `${userData.firstName} ${userData.lastName}` }}</p>
                      <p>Mail: {{ userData.email }}</p>
                      <p>Password: {{ userData.password }}</p>
                      <p>Store in Database?: {{ userData.storeInDB }}</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</template>

<script>
import FullName from "./components/full-name.vue";

export default {
  data() {
    return {
      isSubmited: false,
      userData: {
        fullName: null,
        firstName: "",
        lastName: "",
        email: null,
        password: null,
        storeInDB: true
      }
    };
  },
  components: {
    "full-name": FullName
  },
  methods: {
    submit() {
      this.isSubmited = true;
    }
  }
};
</script>

<style>
</style>
